.laDiv {
    background-color: rgba(181, 181, 181, 0.86);
    padding: 40px;
    height: 250px;
    width: 450px;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    margin-top: 250px;
    transition: all .5s linear;
}

div.cadre {
    height: 250px;
    width: 450px;
    overflow: hidden;
    background-size: 100% 100%;
}

div.cadre.img1 {
    background-image: url('../img/heroine.png');
}

div.cadre.img2 {
    background-image: url('../img/herbe.jpg');
}

.cadre:hover .laDiv {
    margin-top: 0px;
}